.sidebar {
  width: 300px;
  background-color: var(--color-2);
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0);
  height: 100vh;
  padding: 30px 15px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: width 0.3s;
}

.toggle-button {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  background-color: var(--color-3);
  color: var(--color-2);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  z-index: 1100;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px; 
}

.sidebar-nav button, .logout-button, .perfil {
  width: 100%;
  padding: 12px;
  background-color: var(--color-3);
  border: none;
  border-radius: 12px;
  font-weight: 600;
  color: var(--color-2);
  text-align: center;
  cursor: pointer;
  
}

.sidebar-nav button:hover, .logout-button:hover {
  background-color:var(--color-5);
}

.sidebar-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: baseline;
  gap: 15px;
}

.sidebar.closed {
  width: 10px;
  background-color: transparent;
  box-shadow: none; 
}

.sidebar.closed .sidebar-nav,
.sidebar.closed .sidebar-footer {
  display: none;
}